---
layout: default
title: Home
notitle: true
---
<div class="jumbotron">
  <p>
    <img src="img/group.png" alt="Group picture" style="width:508px;height:330px;">
    <br>
    The research group of Andreas Grüneis at
    <a href="https://www.tuwien.ac.at/">Vienna University of Technology</a>
    (until 2018 partly hosted by
    <a href="https://www.fkf.mpg.de/">MPI for Solid State Research in Stuttgart</a>)
    develops, implements and applies wave function based methods for the study of ground-
    and excited state properties in solid state systems. We aim at the
    accurate description of electronic correlation effects using
    many-electron methods such as coupled cluster theories. Our
    research is highly interdisciplinary and situated at the crossroads
    of theoretical condensed matter physics, computational materials
    physics and theoretical quantum chemistry.


    <br>
    <br>
    We have open positions!
    $$
      \left | CC \right \rangle
      =
      e ^ {\hat{T}}
      \left | 0 \right \rangle 
    $$
    <br>
    If you are interested in our work and want to join us please email
    <a href="mailto:andreas.grueneis@tuwien.ac.at">Andreas Grüneis</a>
  </p>
</div>

    We gratefully acknowledge support by<br>
    <a href="https://tuwien.ac.at" target="_blank">
      <img src="img/tuwien.png" alt="TU Wien logo" style="width:264px;height:101px;">
    </a>
    <a href="https://www.fkf.mpg.de" target="_blank">
      <img src="img/mpg.png" alt="MPG logo" style="width:170px;height:138px;">
    </a>
    <a href="https://erc.europa.eu" target="_blank">
      <img src="img/erc.png" alt="ERC logo" style="width:114px;height:113px;">
    </a>


<h2>News</h2>
<ul class="news list-unstyled">
{% for post in site.posts limit: site.front_page_news %}
    {% if post.shortnews %}
        <li class="shortnews">
            <span class="date">{{ post.date | date_to_long_string }}</span>
            {{ post.content }}
        </li>
    {% else %}
        <li class="bloglink">
            <span class="date">{{ post.date | date_to_long_string }}</span>
            <a href="{{ post.url }}">&raquo; {{ post.title }}</a>
        </li>
    {% endif %}
{% endfor %}
</ul>
{% assign numposts = site.posts | size %}
{% if numposts >= site.front_page_news %}
<p><a href="{{ site.base }}/blog/">Older posts&hellip;</a></p>
{% endif %}
